
<%= link_to 'Nova Postagem', :posts %>
<%= link_to 'Nova Categoria', :categories %>

<hr>

<%= form_tag :list_posts do %>
  <% @categories.each do |category| %>
    <%= check_box_tag "checked_categories[#{category.id}]" %>
    <%= category.name %>
  <% end %>

  </br>

  <%= submit_tag "Filtrar" %>
<% end %>

<hr>

<ul>
  <% @posts.each do |post| %>
    <li> <%= link_to post.title, show_post_path(post) %> </li>
  <% end %>
</ul>

